<html>
    <head>
        <meta charset="utf-8">
        <title>Study with me Essential;</title>
    </head>
    <body>
        <table cellspacing="20">
        <tr>
        <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYf8mnvjfVQIY3jPf0nGVE8779Z13a-F_44mKBBeCCg7-rTPxYVG0yH46J-sA5kQB7X4U&usqp=CAU" alt="is for You."></td>
        <td><h1>Essential; &#x2B50</h1>
        <p><em>Study with me.</em></p>
        <p>같이 공부해요</p>
        <p>Listen to <a  href="//www.youtube.com/watch?v=le1QF3uoQNg&list=PLsX1RJJBk1MVC0skKKfuBbg817RlN6YW5&pp=gAQBiAQB"><strong><em>music</em></strong></a> with me.</p>
        </td>
        </tr>
        </table>
       
        <hr size="3", noshade, color="black">
        <h3>집중이 안 되시나요?</h2>
        <ul>
            <li>커피를 마셔보세요.</li>
            <p>적당한 카페인은 집중력을 올려줍니다.</p>
            <li>스트레칭을 해보아요.</li>
            <p>네.</p>
        </ul>
<hr>
        <ol type="i">
            <li>아니요</li>
            <li>잘</li>
            <li>안돼요</li>
        </ol>
<hr>
        <h3>Skills</h3>
        <table style="float:left" cellspacing="10">
                <tr>
                    <td>Python3</td>
                    <td>&#x2B50</td>
                </tr>
                <tr>
                    <td>Java</td>
                    <td>&#x2B50</td>
                </tr>
        </table>
        <table style="float:left" cellspacing="10">
            <tr>
                <td>Cooking</td>
                <td>&#x2B50&#x2B50&#x2B50</td>
            </tr>
            <tr>
                <td>asdf</td>
                <td>&#x2B50&#x2B50&#x2B50&#x2B50&#x2B50</td>
            </tr>
        </table>
</html>